<app-loader *ngIf="loading"></app-loader>

<div *ngIf="!loading && weatherData" class="weather-content">

    <div class="time">
        Maribor pridobljeno {{dateFetched}}
      </div>
      <div class="weather-info">
        <div class="weather-details">
          <div class="card">
            Current Temperature is {{currentTemperature}} <br />
            Population : {{cityPopulation}}
          </div>
          <div class="card">
            <div *ngFor="let avgTemp of averageTemperatures">
                <p>Date: {{ avgTemp.date }}, T: {{ avgTemp.averageTemp }} °C</p>
              </div>
          </div>
        </div>
    </div>

</div>