.app-header {
    height: 44px;
    background-color: #e86e1e;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }